<% @tables.each do |table| %>
  <p>Table #: <%= table.id %> has <%= table.seats %> seats.</p>
<% end %>
<%= form_tag '/tables', method: :post do %>
  <div>
    <%=label_tag :seats, "seats" %>
    <%= number_field_tag :seats, nil, min: 2, max: 6, step:2 %>
  </div>

  <%= submit_tag %>
<% end %>